.clickable-link {
  color: #0d6efd;     
  cursor: pointer;
  text-decoration: underline;
}

.clickable-link:hover {
  color: #084298;
}
.top-bar {
  width: 100%;
  text-align: right;
}

.close-btn {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}
